body {
	background: orange;
}

div {
	background: Purple;
}

#special {
	color: yellow;
}

li {
	border: 5px solid red;
}

.Completed {
	text-decoration: line-through;
	opacity: 0.5;
}

.selected {
	color: green;
}

.unselected {
	color: black;
}
